*{
    padding: 0%;
    margin: 0%;
    
    box-sizing: border-box;
}
header{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
}
.logo_img{
    width: 100px;
}
hr{
    color: #fff;
}
nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px ;
    opacity: 86%;
    background-color: black;
    border :0px 0px 3px solid beige;
    border-color: #fff;
    
}
hr{
    border:none;
  height: 20px;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

.logo{
    padding: 0px 65px;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;

}
nav li{
       display: inline-block;
       list-style: none;
       padding: 0px 20px;
       
    }
nav ul{
    margin: 0px 0px 0px 529px;
}

a,.button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: aliceblue;
    text-transform: uppercase;
}
.button{
    background-color: #281f1f;
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    transition: 0.4s ease 0s;
    margin: 0px 37px 0px;
}
nav li a:hover{
    color: #8088a9;
    transition: all 0.4s ease 0s;

}
.line
{
    
        width: 133px;
        position: relative;
        top: 72px;
        left: 8%;


}
.bo1{
    width: 10px;
    height: 10px;
    background-color: #fff;
}
.bo2{
    width: 60px;
    height: 3px;
    background-color: #fff;
}
.bo3{
    width: 100px;
    height: 3px;
    background-color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;

}
.left{
    flex-basis: 50%;
    color: #fff;
}
.right{
    flex-basis: 50%;
}
.r_img{
    width: 90%;
    
}
.left h1{
    font-size: 4.5rem;
    line-height: 4.5rem;
}
.left button{
    width: 130px;
    font-family: 'Merriweather', serif;
    background-color: #281f1f;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.4s ease 0s;
    margin: 30px 0px 0px;
}
.left button:hover{
    color: #7a6767f3;
}
footer{
    height: 80px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 20px;
    line-height: 30px;
}
a:hover{
    color: #8088a9;
    transition: all 0.4s ease 0s;

}

.bottom-container a{
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
}

.copyright{
    color: white;
    font-size: 0.75rem;
}
